@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-codetune {
    background: rgb(106,106,106);
    background: linear-gradient(90deg, rgba(106,106,106,1) 0%, #b4fe09 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-codetune-center {
    background: rgb(106,106,106);
    background: linear-gradient(90deg, rgba(106,106,106,1) 35%, #b4fe09 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  color: white;
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: relative;
  background-color: black;
  transition: all 1s;
}

#preloader img{ 
  width: 10vh;
  animation: rotation infinite 1s linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  text-decoration: none;
}


.backgroundGradient {
  position: absolute;
  background: linear-gradient(90deg, #6a6a6a, #b4fe09);
  opacity: 0.3;
  filter: blur(100px);
  width: 68vw;
  height: 50vh;
  top: 30%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes respiration {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 0.3;
  }
}



