.mainCard {
  z-index: 1;
  width: 300px;
  height: 500px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: matrix(1, 0, -0.18, 0.98, 0, 0);
}

.backgroundCard {
  margin-top: -30px;
  margin-left: -20px;
  position: absolute;
  width: 280px;
  height: 172px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: matrix(1, 0, -0.18, 0.98, 0, 0);
}

.cover {
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
  height: 260px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.titleCard {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.4rem;
}

.timerCard {
  margin-top: 15px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: space-around;
}

.volumeCard {
  margin-top: -10px;
  margin-left: 160px;
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 2rem;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time h1 {
  font-size: 1.8rem;
}

.time h2 {
  font-size: 1rem;
}


@media only screen and (max-width: 1024px) {
  .mainCard {
    transform: none;
    scale: 0.8;
  }
  .player {
    margin: 0;
  }
  .backgroundCard {
    display: none;
  }

  .cover {
    transform: none;
    scale: 1;
  }

  .titleCard {
    transform: none;
    margin-top: -60px;
    margin-left: -50px;
    scale: 1;
  }

  .timerCard {
    transform: none;
    margin-top: 10px;
    margin-left: -40px;
    scale: 1;
  }

  .volumeCard {
    margin-top: 10px;
    transform: none;
    margin-left: 150px;
    scale: 1;
  }
}

@media only screen and (max-width: 640px) {
 .mainCard {
    scale: 0.7;
  }

  .cover {
    scale: 0.9;
  }

  .titleCard {
    margin-top: -60px;
    margin-left: -50px;
    scale: 0.9;
  }

  .timerCard {
    margin-top: 10px;
    margin-left: -40px;
    scale: 0.9;
  }

  .volumeCard {
    margin-top: 10px;
    margin-left: 150px;
    scale: 0.9;
  }
}
